<h1>Make an item</h1>


<%= form_tag("/order_details/#{params[:order_id]}/create") do %>
    <div class ="form">
        <ul>
            <% @items.each do |item|%>
                <li> <%= item.id%> . <%=item.name%></li>
            <%end%>
        </ul>
        <p>Item (enter the item name)</p>
        <input name="item_name" >
        <p>Quantity</p>
        <input name="quantity" >

        <input type="submit" value="Save">
    </div>


<%end %>

